/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



*{
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg-gradient{
  /* background-color: wheat; */
  /* background-image: linear-gradient(to top, rgba(25, 27, 31, 100%) 100% , rgba(55, 62, 68, 100%) 0%); */
  background: linear-gradient(to top, #1b1c20 0% , #272a2f 100%); 
  /* background-image: linear-gradient(to top, rgba(25, 27, 31, 100%) 0%, rgba(55, 62, 68, 100%) 100% ); */
}
